*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: sans-serif;
}
body{
    background-color: #16A085;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 40px 40px 0 40px;
    max-height: 450px;
    overflow: hidden;
    background-color: white;
    box-shadow: 1px 1px 5px black;
    width: 500px;
}

.col{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col i{
    font-size: 25px;
}
.col strong{
    font-size: 20px;
}

.col h1{
    font-size: 27px;
}
.col p{
    color: #C3CAD1;
    font-size: 17px;
}
.col h2{
    color: #7d838a;
    font-size: 19px;
}